global:
  scrape_interval: 10s
  scrape_timeout: 2s
  evaluation_interval: 1m
scrape_configs:
- job_name: exporter
  honor_timestamps: true
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - 172.17.0.1:9351
    - exporter:9351
    labels:
      exporter: "true"
